/*Fonts google*/
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');

/*Fonts file*/
@font-face{
  font-family: "Rahayu";
  src: url("/betooliveira18.github.io/font/Raulina.ttf");
}


html, body, header, main, nav, article, section, figure, footer{
  width: 100%;
  padding: 0px;
  margin: 0px;
  background-color: #fdf9edff;
  font-family: sans-serif;
  color: #333331ff;
}

/* Config work */
.container-fixed {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.row{
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.d-flex{
    display: -ms-flexbox !important;
    display: flex !important;
}

.flex-column {
  -ms-flex-direction: column !important;
  flex-direction: column !important;
}

.d-inline{
  display: inline;
}

.align-i-center{
  align-items: center !important;
}

.align-i-end{
  align-items: right;
}

.justify-c-start{
  justify-content: flex-start;
}

.justify-c-end{
  justify-content: flex-end;
}

.justify-c-center{
  justify-content: center;
}

.col-md-6{
  width: 50%;    
}

/* Main header 
    MENU
*/
header{
  width: 100%;
  padding: 0px;
  margin: 0px;
}

header h1{

  padding: 0px;
  margin: 0px;
  text-align: center;
  font-family: "Rahayu";
}

.title-logo{
  width: 80%;
  font-size: 25pt;
  align-self: center;
}

/* MENU LINK */

header ul{
  padding: 0px;
  margin: 0px;
}

.list-type-none{
  list-style-type: none;
}

.list-item, .list-item-different {
  font-family: sans-serif;
  margin: 5px;
  height: 30px;
  padding: 10px;
}

.list-item-different {
  background-color: #ffcb6fff;
  text-transform: uppercase;
  font-weight: bold;
  margin-right: 0px;
}

a{
  text-decoration: none;
  color: #333331ff;
  font-size: 20px;
}

main {
  height: 130px;
}


/* Network edit 
    SOCIAL NETWORK
*/
.w-social {
  width: 20%;
}
.w-social i{
  font-size: 20px;
}
.cube{
  display: flex;
  height: 30px;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
}

/*Background color social network*/  
.nw-c-navyblue{
  background-color: #0044aaff;
}
.nw-c-blue{
  background-color: #2a7fffff;
}
.nw-c-pink{
  background-color: #ff0066ff;
}
.nw-c-black{
  background-color: #000;
}

/* //Section img, but text 
      SOFTWERE DEVELOPMENT &
      COMPUTER SKILLS
*/
.soft_development, .computer_skills{
  height: 520px;
}

.img-article{
  background-color: #242017ff;
  height: 450px;
}
.soft_development .img-article div {
  width: 350px;
  background: url(/betooliveira18.github.io/img/img_01.jpg), no-repeat;
  background-size: cover;
}

.computer_skills .img-article div {
  width: 350px;
  background: url(/betooliveira18.github.io/img/img_02.jpg), no-repeat;
  background-size: cover;
}

/*text*/
.article-text{
  padding: 35px;
}

/*CARROSSEL*/

.portfolio-now{
  height: 300px;
  background-color: #e3dedbff;
}
.text-center{
  display: flex;
  justify-content: center;
  align-items: center;
}
.now{
  height: 250px;
  margin-bottom: 10px;
  background-color: #ac9d93ff;
}

img{
  max-height: 150px;
}
.owl-prev span{
  opacity: 0.1;
  left: 5%;
  position: absolute;
  top: 5%;
  color: #fff;
  font-size: 100px;
}

.owl-next span{
  opacity: 0.1;
  right: 5%;
  position: absolute;
  top: 5%;
  color: #fff;
  font-size: 100px;
}

/*Footer*/

/*TALK ME TO ME*/
.form-contact{
  height: 200px;
  background-color: #ac9d93ff;
}
#id-email, #id-name{
  font-family: sans-serif;
  color: #333331ff;
  margin: 3px;
  border: none;
  height: 22px;
}

#id-message{
  font-family: sans-serif;
  color: #333331ff;
  margin: 3px;
  border: none;
  height: 50px;
}

.text-message{
  margin: 2;
}

footer form h2{
  padding: 0px;
  margin: 15px;
}

.b-submit{
  background-color: #ffcb6fff;
  height: 35px;
  width: 100px;
  text-align: center;
  line-height: 35px;
  border: none;
  font-weight: bolder;
  color: #333331ff;
  margin-top: 10px;
}

/*END DOCUMENT*/
.credit-creator{
  display: flex;
  height: 35px;
  background-color: #242017ff;
  justify-content: space-between;
  align-items: center;
  color: #ac9d93ff;
  font-size: 0.8em;
}

.credit-creator span{
  display: block;
  padding: 5px;
  color: #ac9d93ff;
}

/*Button
  READ ME*/

  .b-read-me{
    background-color: #ffcb6fff;
    height: 35px;
    width: 100px;
    text-align: center;
    line-height: 35px;
  }


  


