/*Fonts file*/
@font-face{
  font-family: "Astrid";
  src: url("/betooliveira18.github.io/font/Astrid.ttf");
}
@font-face{
  font-family: "NewGothic";
  src: url("/betooliveira18.github.io/font/NewsGothicStd-Bold.otf");
}
@font-face{
  font-family: "NewGothic-B";
  src: url("/betooliveira18.github.io/font/NewsGothicStd.otf");
}

html, body{
  width: 100%;
  padding: 0px;
  margin: 0px;
  background-color: #fdf9edff;
  font-family: "NewGothic-B";
  color: #333331ff;
}

/* Config work */
.container-fixed {
  display: grid;
  grid-template-columns: 1fr 10fr 1fr;
  grid-template-rows: auto 550px auto 550px 300px;
  grid-gap: 5px 5px;
}

header, section, footer {
  width: 100%;
}

header{
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 1;
}

footer{
  background-color:#ac9d93ff;
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 5;
  grid-row-end: 5;
}

/*MAIN*/

/*LOGO PAGE*/
header main{
  display: flex;
}
header main h1{
  font-family: "Astrid";
  font-size: 4rem;
  padding: 0;
  margin: 0;
}
header main .logo-pg{
  display: flex;
  height: 100px;
  width: 70%;
  align-items: flex-end;
  justify-content: center;
}

/*SOCIAL NETWORK*/
header main .social-network{
  display: grid;
  width: 30%;
  justify-content: flex-end;
}

.social-network .cube{
  display: block;
  width: 35px;
  height: 30px;
  text-align: center;
  align-self: flex-end;
}

.nw-c-pink{
  background-color: #ff0066ff;
}
.nw-c-navyblue{
  background-color: #0044aaff;
}
.nw-c-blue{
  background-color: #2a7fffff;
}
.nw-c-black{
  background-color: #000000ff;
}

.cube i{
  font-size: 15pt;
  line-height: 30px;
  color: #fff;
}

/*MENU*/
header nav .menu-link{
  display: flex;
  height: 80px;
  justify-content: flex-end;
}

header nav ul{
  display: flex;
  list-style-type: none;
  align-self: flex-end;
  padding: 0;
  margin: 0px;
}
header nav ul .list-item, .list-item-different{
  margin: 0px 0px 0px 10px;
  padding: 10px;
}
header nav ul .list-item-different{
  display: block;
  background-color: #ffcb6fff;
  font-family: "NewGothic";
}

header nav ul li .link-none{
  margin: 0px 30px 0px 30px;
  text-decoration: none;
  color: #333331ff;
}

/* SOFTWERE DEVELOPMENT */

section.soft_development{
  display: flex;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 2;
  justify-content: center;
}

.soft_development > .img-article{
  max-width: 100%;
  display: block;
  align-self: center;
}

.soft_development > .article-text{
  align-self: center;

}

/*CAROUSEL*/

section.portfolio-now{
  background-color: #e3dedbff;
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 3;
}

section h1 {
  text-align: center;
}

section .plugin-carousel{
  display: flex;
  flex-wrap: wrap;
  max-width: 880px;
  background-color: #ac9d93ff;
  margin: 0 auto;
  margin-bottom: 10px;
}

section .item {
  display: flex;
  margin: 0 auto;
  margin: 10px 0px 10px 0px;
  flex: 1 1 200px;
  justify-content: center;
}

section .item img{
  max-width: 200px;
}


/* COMPUTER SKILLS */

section.computer_skills{
  display: flex;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 4;
  grid-row-end: 4;
  justify-items: center;
}



.computer_skills > .article-text{
  display: block;
  align-self: center;
}

.computer_skills  .img-article{
  max-width: 100%;
  display: block;
  align-self: center;
}

section .computer_skills img{
  height: 200px;
}

/*END*/

footer{
  display: grid;
  align-items: flex-end;
}
/* TALK TO ME*/

footer h2{
  display: block;
  text-align: center;
}

footer .form-input{
  display: flex;
  justify-content: center;
}

#id-name, #id-email{
  display: block;
  border: none;
  margin: 5px;
  height: 40px;
}
#id-message{
  display: block;
  border: none;
  margin: 5px;
  height: 90px;
}

footer .name-email{
  display: grid;
}
/* BUTTON */

footer .button-submit {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 15px;
}

.b-submit{
  height: 30px;
  width: 60px;
  border: none;
  font-weight: bold;
  background-color: #ffcb6fff;
  border-radius: 10%;
}

.b-read-me{
  display: block;
  height: 40px;
  width: 100px;
  border: none;
  font-weight: bold;
  background-color: #ffcb6fff;
  border-radius: 10%;
  text-decoration: none;
  color: #333331ff;
  text-align: center;
  line-height: 45px;
}



/* CREDIT CREATOR*/
footer .credit-creator span{
  padding: 5px;
}
footer .credit-creator{
  background-color: #242017ff;
  color: #fdf9edff;
  font-size: 0.8rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 0px 5px;
}
