/*Fonts file*/
@font-face{
  font-family: "Astrid";
  src: url("/betooliveira18.github.io/font/Astrid.ttf");
}
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;1,300&display=swap');

body{
  width: 100%;
  padding: 0px;
  margin: 0px;
  background-color: #fdf9edff;
  font-family: 'Roboto', sans-serif;
  color: #333331ff;

}

/* Config work */
.container-fixed {
  display: grid;
  grid-template-rows: repeat(auto);
  grid-template-areas:
  'header'
  'section'
  'carousel' 
  'footer'
  ;
}

header{
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  grid-area: header;
  border-radius: 0px 0px 30px 30px;
  background: #333331;
  color: #FDF9ED;
}

footer{
  color: #fdf9edff;
  height: 50px;
  grid-area: footer;
  background: #242017ff;
  box-shadow: -4px -4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 30px 30px 0px 0px;
  display: flex;
  justify-content: space-around;
  align-items: center;

}

/*MAIN*/

/*LOGO PAGE*/
header main{
  display: flex;
  align-items: center;
}
header main h1{
  font-family: "Astrid";
  padding-top: 8px;
  margin: 5px;
 
  
}
header main .logo-pg{
  display: flex;
  width: 70%;
  padding-left: 10%;
  align-items: center;

}

/*SOCIAL NETWORK*/

header .link-social{
  display: none;
}

header main .social-network{
  display: flex;
  width: 30%;
}

.social-network .cube{
  display: block;
  width: 35px;
  height: 35px;
  text-align: center;
  margin-left: 15px;

}

.cube i{
  font-size: 1.5rem;
  line-height: 30px;
  color: #fff;
}

@media (max-width:900px){
  header main .social-network{
    display: none;
  }

  header main .link-social{
    display: block;
    font-size: small;
    padding: 10px;
  }
}
@media (max-width:768px){
 

  header main .link-social{
    display: none;
  }
}

/*MENU*/

header .nav-menu{
  display: none;
}

header nav .menu-link{
  display: flex;
}

header nav ul{
  display: flex;
  list-style-type: none;
  padding-left: 15%;
  margin: 0px;
}

header nav ul .list-item-different{
  display: block;
  background-color: #ffcb6fff;
  font-family: 'Roboto', sans-serif;
}

header nav ul li .link-none{
  margin: 0px 30px 0px 30px;
  text-decoration: none;
  color: #FDF9ED;
  font-size: 1.2rem;
}

@media (max-width:768px){
  header main h1{
    font-family: "Astrid";
    font-size: 2rem;
    line-height: 25px;
   
  }
  header nav .menu-link{
    display: none;
  }

  header .nav-menu{
    display: flex;
    justify-self: right;
    

  }
  header .nav-menu button{
    width: 33px;
    height: 33px;
    border-radius: 50%;
    border: none;
    background-color:  #333331;
  }
  header .nav-menu i{
    color: #fff;
    font-size: 1.5rem;
  }

}

/* SOFTWERE DEVELOPMENT */

section.soft_development{
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(50%);
  grid-template-areas: 
  'article-text img-article'
  ;
  grid-area: section;
  border-radius: 15px 15px 15px 15px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  align-items: center;
  margin: 30px auto;
}

.soft_development > .img-article{
  grid-area: img-article;
  margin: 0px;
}
.soft_development > .img-article img{
  width: 100%;
  max-width: 300px;
  margin: 30px;
}

.soft_development > .article-text{ 
  grid-area: article-text;
  justify-content: center;
  margin: 30px;

}
.soft_development > .article-text h1, h3{
font-weight: normal;
font-size: 2.5rem;
line-height: 8px;
color: #333331;

}

.soft_development > .article-text p{
  width: 300px;
  font-weight: normal;
  font-size: 0.9rem;
  color: #333331;
  margin: 30px;
  }

  .soft_development  .button-link {
    display: flex;
    font-weight: normal;
    font-size: 0.9rem;
    margin: 15px 0px;
    }

  .soft_development  .button-link a{
    display: block;
    font-weight: normal;
    font-size: 1.0rem;
    padding: 15px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      border-radius: 30px;
      width: 156px;
      height: 20px;
      font-weight: bolder;
      text-decoration: none;
      text-align: center;
      line-height: 20px;
    }

    .soft_development  .btn-1{
      background: #FFCB6F;
      color: #333331;
      margin: 8px;

      }

    .soft_development  .btn-2{
      color: #fff;
      background: #333331;
      margin:8px;
      }
      .soft_development .fa{
      
      }

 @media (max-width:900px){
 
  .soft_development > .article-text h1, h3{
    font-size: 1.2rem;
    font-weight: bolder;
    padding-left: 15px ;
    }
    
  .soft_development > .article-text p{
      font-size: 0.8rem;
      width: 300px;
      margin: 0px;
      padding-top: 15px;
      padding-left: 15px ;
    }

    .soft_development > .img-article {
      margin: 0px;
    }
    .soft_development > .article-text{ 
      width: 100%;
      padding: 5px;
      max-width: 345px;
      grid-area: article-text;
      margin:0px;
    
    }

  }
  @media (max-width:767px){
    section.soft_development{
      grid-template-rows: repeat(50%);
      grid-template-areas: 
      'article-text'
      'img-article'
      ;
      justify-content: center;
    }

    .soft_development > .img-article {
      margin: 0px;
      display: flex;
      justify-content: center;
      grid-area: img-article;
    }
    .soft_development > .article-text{ 
      width: 100%;
      padding: 5px;
      max-width: 345px;
      grid-area: article-text;
      margin:0px;
    
    }

    .soft_development  .button-link a{
      display: block;
      font-weight: normal;
      font-size: 1.0rem;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 30px;
        width: 120px;
        height: 15px;
        font-weight: bolder;
        text-decoration: none;
        text-align: center;
        line-height: 20px;
    }
  } 

/*CAROUSEL*/

section.portfolio-now{
  display: flex;
  background-color: #e3dedbff;
  grid-area: carousel;
  justify-content: center;
  align-items: center;
  padding: 15px;
}

section .plugin-carousel{
  display: inline;
  flex-wrap: wrap;
  width: 100%;
  max-width: 250px;
  background-color: #ac9d93ff;
  margin: 0 auto;
  margin-bottom: 10px;
  border-radius: 15px 15px 15px 15px;
  
}

section .item {
  display: flex;
  margin: 0 auto;
  margin: 10px 0px 10px 0px;
  flex: 1 1 200px;
}

/*END*/

/* TALK TO ME*/

footer h2{
  display: block;
  text-align: center;
}

footer .form-input{
  display: flex;
  justify-content: center;
}

#id-name, #id-email{
  display: block;
  border: none;
  margin: 5px;
  height: 40px;
}
#id-message{
  display: block;
  border: none;
  margin: 5px;
  height: 90px;
}

footer .name-email{
  display: grid;
}
/* BUTTON */

footer .button-submit {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 15px;
}

.b-submit{
  height: 30px;
  width: 60px;
  border: none;
  font-weight: bold;
  background-color: #ffcb6fff;
  border-radius: 10%;
}
footer span{
  font-size: 10pt;
}

@media (max-width: 550px){
  footer span{
    font-size: 8pt;
  }
}
