/*Fonts file*/
@font-face{
  font-family: "Astrid";
  src: url("font/Astrid.ttf");
}
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;1,300&display=swap');

  /*Reset*/
  * {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
  }
  
  :root {
    --primary: #2A7AE4;
    --black: #000000;
    --blackLighter: #9E9E9E;
    --grayLight: #F5F5F5;
    --grayMedium: #e5e5e5; 
    --white: #FFFFFF;
    --frontEnd: #6BD1FF;
    --backEnd: #00C86F;
  }
  
  html,
  body {
    margin: 0;
    padding: 0;
  }

  /* Config all */

  body {
    display: grid;
    width: 100%;
    height: 100vh;
    align-items: center;
    justify-content: center;
  }

  /* soft_development */


  /* portfolio-now */


  /* Page end 'Footer */

  footer {
    display: flex;
    width: 100%;
    max-width: 900px;
    justify-content: center;
    align-items: flex-end;
    }

