/*Fonts file*/
@font-face{
  font-family: "Astrid";
  src: url("font/Astrid.ttf");
}
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;1,300&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  /* controle das medidas rem */
    font-size: 60%; 
}

html, 
body, #root {
  height: 100vh;
}

#root {
  display: flex;
  align-items: center;
  justify-content: center;
}

body,
input,
button,
textarea {
  font: 500 1.6rem Roboto;
  color: var();
}

body{
  background: #fff;
}


.container {
  width: 90vw;
  max-width: 700px;
  align-items: flex-end;
}


    @media (min-width: 700px) {
      :root {
        font-size: 62.5%;
      
      }

      #page-primary {
        display: flex;
        max-width: 100%;
        width: 100vw;
        height: 100vh;
      
        justify-content: center;
        align-items: center;
      
      }

    }

    @media(min-width:1100px){

    
    }

