@font-face {
    font-family: "Roboto";
    src: 'https://fonts.googleapis.com/css2?family=Fira+Code&family=Roboto:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400&display=swap';
}

@font-face {
    font-family: "Fira Code";
    src: 'https://fonts.googleapis.com/css2?family=Fira+Code&display=swap';
}